# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Databases
*.db

# Logs
*.log

# Dataset
DataCoSupplyChainDataset.csv

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
backend-java/target/
*.jar
*.class
backend-java/target/
*.jar
*.class
node_modules/
__pycache__/
.env


node_modules/
__pycache__/
.env
backend-java/target/
*.jar
*.class
*.log
*.db
